.enter_back_gradient {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: -1;

    background: linear-gradient(200.51deg,
            #33317D 3.37%,
            rgba(71, 0, 54, 0) 56.54%);
    mix-blend-mode: normal;
  }
  &:after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: -2;

    transform: translate(50%, -10%);

    background: linear-gradient(270.61deg,
            rgba(248, 42, 42, 0.44) 23.24%,
            rgba(248, 104, 42, 0) 136.21%);
    mix-blend-mode: normal;
    filter: blur(200px);
  }
}