.footer {
  position: relative;

  width: 100%;

  background: #20252C;

  z-index: 1;

  .footer__container {
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: 20px 0 30px;

    .footer__law-part {
      height: auto;
    }
    .footer__info-part {
      display: flex;

      gap: 30px;

      .footer__soc-networks_mobile {
        display: none;
      }
    }
  }
}