.project-page__preview {
  position: relative;

  width: 100%;
  height: 100vh;

  will-change: height;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 2;

  .project-page__preview_mobile {
    display: none;
  }
}