.member-preview {
  width: 100%;

  padding-top: 150px;

  z-index: 1;

  .member-preview__container {
    display: flex;
    gap: 30px;

    .member-preview__info-card {

    }
    .member-preview__skills-n-awards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding-bottom: 15px;

      width: 100%;

    }
  }
  .member-preview__container_tablet {
    display: none;
  }
}