@media screen and (max-width: 1300px){
  .enter {


    .enter-container {


      .enter__page-number {
        display: none;
      }
      .enter__page-number, .enter__page-info-bar {

      }
      .enter__page-info-bar {
        right: -15%;
      }
    }

    .enter__logo-planet {

    }
  }
}
@media screen and (max-width: 1300px) and (orientation: landscape){
  .enter {


    .enter-container {


      .enter__page-number, .enter__page-info-bar {

      }
      .enter__page-info-bar {
        bottom: 15%;
      }
    }

    .enter__logo-planet {

    }
  }
}
@media screen and (max-width: 1300px) and (orientation: portrait){
  .enter {


    .enter-container {


      .enter__page-number, .enter__page-info-bar {
      }
      .enter__page-info-bar {
        bottom: 15%;
      }
    }

    .enter__logo-planet {

    }
  }
}