.advantages_background_gradient_red {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 50%;

    background: #71192A;

    filter: blur(200px);

    transform: matrix(-1, 0, 0, 1, 0, 0) translate(22%, 80%);
  }
}