.advantages_background_gradient_red {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 50%;

    background: #71192A;

    filter: blur(200px);

    transform: translate(-22%, 80%);
  }
}

.advantages_background_gradient_red_safari {

}

@media screen and (max-width: 1300px) {
  .advantages_background_gradient_red {
    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: #71192A;

      filter: blur(150px);

      transform: translate(0, 0);
    }
  }
}