.projects-info_back_gradient_red {
  &:after {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;

    width: 60%;
    height:90%;

    background: rgba(113, 25, 42, 0.3);

    filter: blur(200px);

    transform: translate(10%, 5%);

    z-index: -1;
  }
}

.projects-info_back_gradient_red_safari {

}