.projects-info {
  position: relative;

  width: 100%;

  margin-top: 80px;

  z-index: 1;

  overflow: hidden;

  .projects-info__container {
    width: auto;

    min-height: 35vh;

    padding: 20px 15px 100px;

    display: flex;
    flex-direction: column;
    gap: 70px;

    background: linear-gradient(180deg, #0C1117 11.66%, rgba(12, 17, 23, 0.5) 100%);

    border-radius: 40px 40px 0 0;
  }
}