.projects_back_purple_gradient {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 50%;

    background: linear-gradient(300.09deg, #56144a 32.97%, rgba(71, 0, 54, 0) 101.7%);
    mix-blend-mode: overlay;
    filter: blur(300px);
    transform: translate(50%, 0);

    z-index: -1;
  }
}

@media screen and (max-width: 1300px) {
  .projects_back_purple_gradient {
    &:before {
      content: '';

      position: absolute;
      top: 0;
      right: unset;
      left: 0;

      width: 100%;
      height: 100%;

      background: linear-gradient(18.36deg, rgba(51, 49, 125, 0.52) 13.41%, rgba(71, 0, 54, 0) 85.68%);

      mix-blend-mode: normal;

      filter: blur(104px);

      transform: translate(-20%,0);

      z-index: -1;
    }
  }

}