@media screen and (max-width: 500px){
  .info-bar {
    width: 90%;


    a {

    }

    .info-bar__container {
      text-align: center;

      .info-bar__upper-info, .info-bar__below-info {
        max-width: unset;

        p {
          font-size: .75rem;
        }
      }

      .info-bar__below-info {
        p {

        }
      }

      .info-bar__arrow-down_mobile {
        display: block;

        img {
          width: 30px;
          transform: rotate(90deg);
        }
      }
    }
  }
}