.about-us_back_purple_gradient {
  &:after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 80%;
    height: 80%;

    background: linear-gradient(19.36deg, #33317D -8.78%, rgba(71, 0, 54, 0) 82.01%);

    mix-blend-mode: normal;

    filter: blur(104px);

    transform: translate(-10%, 5%);

    z-index: -2;
  }
}

.about-us_back_purple_gradient_safari {

}

@media screen and (max-width: 1300px){
  .about-us_back_purple_gradient {
    &:after {
     display: none;
    }
  }
}