@media screen and (max-width: 1300px){
  .member-work-page__description {


    .member-work-page__description-title {
      h3 {

      }
    }

    .member-work-page__close {


      img {

      }
    }

    .member-work-page__about-container {


      .member-work-page__title {

      }
      .member-work-page__about {
        p {
          font-size: .9rem;
        }
      }
    }

    .member-work-page__next-work-container {


      .member-work-page__next-work-title {

      }
      .member-work-page__next-work {

        height: 150px;

        a {

          .member-work-page__next-work-blackout {

          }

          img {
          }
        }
      }
    }

    .member-work-page__software-used-container {



      .member-work-page__software-used-list {

        .member-work-page__soft {
          img {
            width: 30px;
          }
        }
      }
    }
  }
}