.info-bar_border_gradient {

  border: unset;

  &:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 13px;

    padding: 1px;

    background: linear-gradient(-60deg, #b13c3c 70%, #2d2028);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    z-index: -1;
  }
}