.member-work-page {
  position: relative;

  width: 100%;
  min-height: 100vh;

  padding-top: 73px;

  .member-work-page__header-wrapper {
  }
  .member-work-page__my-work-container {
    width: 100%;

    display: flex;

    .member-work-page__my-work-wrapper {
      position: relative;

      width: 75%;

      display: flex;
      justify-content: end;

      padding: 20px 10px 80px;

      background: #000;
    }
    .member-work-page__description-container {
      position: relative;

      width: 25%;
      height: auto;

      background: #6C2AF8;
    }
  }
}