.project-page__other-info {
  position: relative;

  padding: 50px 0 100px;

  width: 100%;

  overflow: hidden;

  z-index: 1;

  transition: all 1s ease-in-out;

  .project-page__other-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .project-page__spec-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}