.project-page__other-info {
  position: relative;

  padding: 50px 0 100px;

  width: 100%;

  overflow: hidden;

  z-index: 1;

  .project-page__other-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}