.member-page__mountain {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 80vh;

  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  .member-page__mountain-img {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    z-index: -3;

    img {
      width: 100%;
      height: auto;
    }
  }
  .member-page__mountain-blackout {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(26, 31, 37, 0.2);

    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    z-index: -2;
  }
  .member-preview__mountain-gradient-gray {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;

    background: linear-gradient(0deg, #181C21, rgba(26, 31, 36, 0) 49.94%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .member-preview__mountain-gradient-gray_safari {

  }

  .member-page__mountain-gradient-red {
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 70%;

    background: rgba(113, 25, 41, 0.3);

    filter: blur(200px);

    transform: translate(50%, 10%);

    z-index: -3;
  }
  .member-page__mountain-gradient-red_safari {

  }
}