@media screen and (max-width: 1300px) {
  .about-us {

    overflow: hidden;

    .about-us_tablet {
      position: absolute;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      z-index: -3;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
    .about-us__container {
      width: auto;

      flex-direction: column-reverse;
      gap: 30px;

      .about-us__description-side {
        width: 100%;

        justify-content: start;
        gap: 20px;
        .about-us__description-container {

          width: 100%;

          gap: 20px;

          .about-us__button-container {

          }
        }
      }
      .about-us__photo-side {
        width: 100%;
      }
    }
  }
}
