@media screen and (max-width: 500px){
  .project-page__useful-data {
    margin-top: 0;

    flex-direction: column;
    justify-content: unset;
    align-items: start;
    gap: 40px;

    .project-page__supported-devices, .project-page__app-links {
      gap: 10px;

      .project-page__supported-devices-title, .project-page__app-links-title {
        h4 {
          font-size: 1rem;
        }
      }

      .project-page__devices {

      }
    }

    .project-page__app-links {
      width: auto;

      align-items: unset;

      .project-page__app-links-title {
      }

      .project-page__app-links-container {
        width: 100%;

        padding: 10px 20px;

        display: flex;
        justify-content: space-between;
        gap: unset;

        .project-page__app-link {
          a {

            img {

            }
          }
        }
      }
    }
  }
}