.project-page_back_gradient_blue {
  &:after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    transform: translate(-10%, 50%);

    width: 50%;
    height: 50%;

    z-index: -1;

    background: rgba(42, 100, 248, 0.4);

    filter: blur(200px);
  }
}