
.background-party {
  .background-party__container {

    .background-party_circle_size_m {
      position: absolute;
      left: 40%;
      top: 60%;

      width: 150px;
      height: 150px;
    }


    .background-party__circle {
    }
  }
}