
.background-party {
  .background-party__container {

    .background-party_circle_size_s {
      position: absolute;
      left: 80%;
      top: 5%;

      width: 100px;
      height: 100px;
    }


    .background-party__circle {
    }
  }
}