
.background-party {
  .background-party__container {

    .background-party_circle_size_b {
      position: absolute;
      left: 10%;
      top: 5%;


      width: 220px;
      height: 220px;
    }


    .background-party__circle {
    }
  }
}