.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 72px;

  z-index: 5;

  .header__container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__plug_mobile {
      display: none;
    }

    .header__logo, .header__navigation, .header__email {
      height: 100%;
    }

    .header__navigation {
    }

    .header__email {

    }
    .header__burger_mobile {
      display: none;
    }
  }
}