.awards_back_blackout {
  background: rgba(24, 25, 33, 0.5);

  padding: 20px 20px 30px;
}

@media screen and (max-width: 500px){
  .awards_back_blackout {
    width: auto;

    padding: 10px 10px 30px;
  }
}