@media screen and (max-width: 500px) {
  .burger {
    height: 100%;

    display: flex;
    align-items: center;

    .burger__container {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .burger__line {
        width: 30px;
        height: 4px;

        border-radius: 5px;

        background: #F2682E;

        transition: all .3s ease-in-out;
      }
    }
  }
}