.project-page_back_gradient_orange {
  &:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    width: 80%;
    height: 90%;

    z-index: -1;

    background: rgba(113, 25, 42, 0.3);
    filter: blur(89px);
    transform: translate(50%, 35%);
  }
}