.logo-planet__circle {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 50%;

  transition: transform .3s linear;

  background: radial-gradient(91.42% 91.42% at 76.81% 18.8%, #3E3C3C 0%, #0A0A0A 100%);
  box-shadow: -42px 30px 20px rgba(0, 0, 0, 0.1), inset 16px 31px 44px -22px rgba(86, 167, 242, 0.25), inset -52px -9px 67px -42px rgba(149, 43, 37, 0.51);
}