.member-preview__member-card_back_mini_mountain {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -3;

  border-radius: inherit;

  background-size: cover;
  background-repeat: no-repeat;
}