.background-party {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
  mix-blend-mode: normal;
  backdrop-filter: blur(20px);

  z-index: -1;

  .background-party__container {
    position: relative;

    width: 100%;
    height: 100%;

    .background-party__circle {
      position: absolute;
      top: 0;
      left: 0;

      width: 200px;
      height: 200px;

      background: #813024;
      filter: blur(100px);

      border-radius: 50%;
    }
  }
}